/* Reset styles for body and html */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Particles.js container */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #7d8c8d, #4a4e5b);
 /* Background color for particles container */
    z-index: -1; /* Keep particles behind other content */
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #7d8c8d, #4a4e5b);
 /* Background color for particles container */
    z-index: -1; /* Keep particles behind other content */
}
/* PDF viewer container */
.container {
    width: 60%;
    height: 97%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #7d8c8d; /* Border around the PDF viewer */
    border-radius: 8px;
    padding: 10px;
    background: #4a4e5b;
    position: relative; /* Make sure it's above the particles */
}

/* PDF iframe styling */
iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove iframe border */
}

.spacer {
    height: 100px; /* Adjust the height for spacing */
}
